@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<web.Models.Appointment>
    
@{var numberOfDays = 30;}  @*sets the number of days that the at-a-glance calendar will display*@
<div class="text-center">
    <h3 >Welcome To the Event Scheduler</h3>
    <h5> The greatest scheduler on earth. Currently showing @numberOfDays days at-a-glance.</h5> 
    <h6 style="color:red;">Current at-a-glance version only works on the hour, add sorting to appointment list and maybe employee list</h6>

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<h5>Today is:</h5>
<div class="outerLoopForTables">
@for (int i = 0; i < @numberOfDays; i++)
{
    <div class="loopOfTables">

    @{
        var calendarDate = DateTime.Today.AddDays(i);
        }
    <h2>  @calendarDate.ToString("D")  </h2>                        
    

    <div>
    <table class="table" >
        <thead>
            <tr>
                <th>
                    Time 
                </th>
                @foreach(var emp in ViewBag.Employees)  @*Need to grab list of Employees not model for appointments*@
                {
                    <th>
                        <span title="Edit information for: @emp.FullName"><a  asp-action="Edit" asp-route-id="@emp.Id" asp-controller="Employee">@emp.FullName</a> </span>
                    </th>      
                }
                <th></th>
            </tr>
        </thead>
        <tbody>




    @{
        //List<string> Times = new List<string>(); 
    //        string[] times = { "12 am", "1 am", "2 am", "3 am", "4 am", "5 am", "6 am", "7 am", "8 am", "9 am", "10 am", "11 am", "12 pm", "1 pm", "2 pm", "3 pm", "4 pm", "5 pm", "6 pm", "7 pm", "8 pm", "9 pm", "10 pm", "11 pm" };    

    var today = DateTime.Now;
    var timeSlots = new List<DateTime> {
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 0, 0, 0),
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 1, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 2, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 3, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 4, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 5, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 6, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 7, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 8, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 9, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 10, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 11, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 12, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 13, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 14, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 15, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 16, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 17, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 18, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 19, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 20, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 21, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 22, 0, 0), 
        new DateTime(calendarDate.Year,calendarDate.Month,calendarDate.Day, 23, 0, 0), 
        };
    }

    @{
        
        var tempListOfTodaysAppointments = new List<DateTime> {};
        foreach(var appointment in Model)
        {   
            if (appointment.RequestedTime.Date == calendarDate.Date) 
                {
                    tempListOfTodaysAppointments.Add(appointment.RequestedTime);
                }
        }
        foreach(var emp in ViewBag.Employees)
        {
            tempListOfTodaysAppointments.Add((calendarDate.Date+emp.StartTime.TimeOfDay));
            tempListOfTodaysAppointments.Add(calendarDate.Date+emp.EndTime.TimeOfDay);
        }

        var newTimeSlots = new List<DateTime>(timeSlots); @*Creates a clone so I can update the timeslots*@
        @foreach(var time in timeSlots)
        {
            if(time<tempListOfTodaysAppointments.Min()||time>tempListOfTodaysAppointments.Max())
                {
                    newTimeSlots.Remove(time);

                }
        }

    }
    
    


    @foreach (var timeSlot in newTimeSlots) 
    {
            <tr>
                <td class="timeColumn">
                    @timeSlot.ToString("hh:mm tt")
                </td>
                @foreach(var emp in ViewBag.Employees)
                {
                    var matchingAppointment = Model
                    .Where(st => st.RequestedTime == timeSlot)
                    .Where(st=> st.EmployeeId == emp.Id)
                    .FirstOrDefault();


                    var appointmentWindowClass="";
                    if((timeSlot.TimeOfDay >= emp.StartTime.TimeOfDay) && (timeSlot.TimeOfDay <= emp.EndTime.TimeOfDay))
                    {
                        appointmentWindowClass="insideWindow";
                    }
                    else
                    {
                        appointmentWindowClass="outsideWindow";
    
                    }


                    if(matchingAppointment == null) 
                    {
                        if(appointmentWindowClass=="insideWindow")
                        {
                        <td class="@appointmentWindowClass">
                            
                        
                            <span title="Add @timeSlot.ToString("MM/dd/yyyy h:mm tt")
                                         appointment with @emp.FullName"><a asp-action="Create" asp-route-id="@emp.Id" asp-route-time="@timeSlot" asp-controller="Appointment">Add</a> </span> 
                        </td>
                        }
                        else 
                        {
                            <td class="@appointmentWindowClass"></td>
                            }

                    }
                    else
                    {
                        <td class="isappointment">
                            <span title="Name: @matchingAppointment.Name
                                         Appointment: @matchingAppointment.RequestedTime.ToString("MM/dd/yyyy h:mm tt")
                                         With: @emp.FullName
                                         Notes: @matchingAppointment.AppointmentNotes 
                                         Phone: @matchingAppointment.PhoneNumber"><a  asp-action="Edit" asp-route-id="@matchingAppointment.Id" asp-controller="Appointment">@matchingAppointment.Name </a> </span>
                        </td>
                    }    
                    
                    


                }
            </tr>
    }    </tbody>
    </table>
    </div>
    </div>
}
</div>